{% extends "base.html" %}
{% block content %}
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
    </script>
    {{ forminfo.media.js }}
    {{ forminfo.media.css }}
    <form action="/" method="POST">
        {% csrf_token %}
        <table class="table">
            {{ forminfo.as_table }}
            {{ formprod.as_table }}
            {{ formamout.as_table }}
        </table>
        <input type="submit" class="btn btn-success">
        <input type="reset" class="btn btn-danger">
        <a type="button" class="btn btn-primary" href="/">Wróć</a>
    </form>
{% endblock %}