{% extends "base.html" %}
{% block content %}

    <div class="page-header" style="text-align: center; margin-top: 5%;background-color: yellow">
        <h1 style="font-weight: bold; margin-top: 5%">Witaj na stronie do obliczania zysku przy sprzedaży w USA!</h1>
    </div>
    <div class="container">
      <h2 style="text-align: center">Kliknij w poniższy przycisk, aby rozpocząć obilczenia</h2>
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">
                <a class="btn btn-primary btn-lg" href="/adding" style="position: absolute">Oblicz</a>
            </div>
            <br>
        </div>
    </div>
{% endblock %}